.body {
  max-height: 25vh;
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #111821;
  transition: all 0.3s;
}

.logo {
  margin-left: 3%;
  color: #ffffff;
  font-size: 36px;
}

.main {
  padding: 15px 0px;
  border: 0px;
  color: #ffffff;
  font-size: 24px;
  text-decoration: none;
  margin-right: 3%;
}
